[Desktop Entry]
Type=Application
Name=Calctus
Comment=Calculator application developed for engineers.
Exec=app
Icon=jp.ponzu840w.Calctus
Categories=Utility;Development;
StartupNotify=true
